@page "/"

@inject ICookieService CookieService

<h1>Fortune cookies</h1>

<p>Press the button to receive a random fortune cookie</p>

<button class="btn btn-primary" @onclick="ShowCookie">Show me my cookie</button>

@if (CookieMessage != null)
{
    <div class="alert alert-info mt-2"><b>@CookieMessage</b></div>
}

@if (ErrorMessage != null)
{
    <div class="alert alert-danger mt-2"><b>@ErrorMessage</b></div>
}

<p>Actual service type: <b>@CookieService.GetType()</b></p>

@code {
    private string CookieMessage;
    private string ErrorMessage;

    private async Task ShowCookie()
    {
        var cookie = await CookieService.GetRandomCookie();
        CookieMessage = cookie.Message;
        ErrorMessage = cookie.Error;
    }
}
