@page "/"

@inject ICookieService CookieService

<PageTitle>Fortune cookies</PageTitle>

<h1>Fortune cookies</h1>

<p>Press the button to receive a random fortune cookie</p>

<button class="btn btn-primary" @onclick="ShowCookie">Show me my cookie</button>

@if (Message != null)
{
    <div class="alert alert-info mt-2"><strong>@Message</strong></div>
}

@if (Error != null)
{
    <div class="alert alert-danger mt-2"><strong>@Error</strong></div>
}

<p>Actual service type: <strong>@CookieService.GetType().Name</strong></p>

@code {
    private string? Message;
    private string? Error;

    private async Task ShowCookie()
    {
        var cookie = await CookieService.GetRandomCookie();
        Message = cookie.Message;
        Error = cookie.Error;
    }
}
